@page "/register"
@layout Layout.LoginLayout
@attribute [AllowAnonymous]

<h3>Register</h3>

<EditForm Model="@model" OnValidSubmit="HandleRegister" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Email</label>
        <InputText @bind-Value="model.Email" class="form-control" />
    </div>

    <div>
        <label>Password</label>
        <InputText @bind-Value="model.Password" type="password" class="form-control" />
    </div>

    <button class="btn btn-primary mt-2" type="submit">
        Sign Up
    </button>
</EditForm>

@code {
    private RegisterModel model = new();

    private void HandleRegister()
    {
        Console.WriteLine("User Registered");
    }

    public class RegisterModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}